<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

<servlet>
    <servlet-name>StuffJSP</servlet-name>
    <jsp-file>/stuff.jsp</jsp-file>
    
</servlet>
    <servlet-mapping>
        <servlet-name>StuffJSP</servlet-name>
        <url-pattern>/stuff</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>StuffEditJSP</servlet-name>
        <jsp-file>/stuffEdit.jsp</jsp-file>

    </servlet>
    <servlet-mapping>
        <servlet-name>StuffEditJSP</servlet-name>
        <url-pattern>/stuffEdit</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RegistrationJSP</servlet-name>
        <jsp-file>/registration.jsp</jsp-file>

    </servlet>
    <servlet-mapping>
        <servlet-name>RegistrationJSP</servlet-name>
        <url-pattern>/registration</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AuthorizationJSP</servlet-name>
        <jsp-file>/enterInSystem.jsp</jsp-file>

    </servlet>
    <servlet-mapping>
        <servlet-name>AuthorizationJSP</servlet-name>
        <url-pattern>/enterInSystem</url-pattern>
    </servlet-mapping>




</web-app>